/*FONT FAMILY ADDITIOON*/

@font-face {
    font-family: Gilroy;
    src: url(Gilroy-Medium.ttf);
}

@font-face {
    font-family: pacifico;
    src: url(Pacifico-Regular.ttf);
}


/* =========================== */


/* START CSS STYLING */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gilroy;
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
    /* overflow-x: hidden; */
}


/* ::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.707);
    transition: 0.3s;
} */

#main {
    position: relative;
    overflow-x: hidden;
}


/* LOADER STYLE */


/* #loader {
    height: 100vh;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#loader h1 {
    color: white;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

#loader h2 {
    color: white;
    font-size: 5vw;
    font-family: pacifico;
} */


/* =================================== */


/* CURSOR STYLE */

#cursor {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: black;
    z-index: 99;
    position: fixed;
    pointer-events: none;
}


/* ================== */


/* HEADER STYLE */

header {
    width: 100vw;
    height: 70px;
    background: white;
    border-bottom: 1px solid grey;
    position: fixed;
    top: 0%;
    z-index: 16;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20vw;
}

#logo h1 {
    font-size: 1.5vw;
    font-weight: 900;
    font-family: pacifico;
    z-index: 20;
}

#logo a {
    text-decoration: none;
    color: black;
}

#anchor {
    display: flex;
    gap: 30px;
}

#anchor a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.461);
    font-weight: 500;
}

#anchor a:hover,
#anchor a.active {
    color: black;
    font-weight: 700;
    transition: 0.3s ease;
}

#links {
    display: flex;
    gap: 10px;
}

#links a {
    text-decoration: none;
    color: black;
    font-size: 2vw;
}

#menu {
    color: black;
    font-size: 2vw;
    display: none;
}


/* ========================= */


/* PAGE1 STYLE */

#page1 {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

#leftp1 {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 25%;
}

#leftp1 h5 {
    color: rgba(0, 0, 0, 0.707)
}

#leftp1 h1 {
    font-size: 2vw;
    margin-top: 20px;
    font-weight: bold;
}

#frame {
    height: 3vw;
}

#leftp1 span {
    height: 3vw;
    font-size: 2vw;
    color: rgba(0, 0, 0, 0.707)
}

#btnp1 {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b1 {
    background-color: white;
}

.b1 a {
    color: black;
    text-decoration: none;
}

.b1:hover {
    background-color: #343335;
    transition: 0.2s linear;
}

.b1:hover a {
    color: white;
}

.b2 {
    background-color: #343335;
}

.b2 a {
    color: white;
    text-decoration: none;
}

.b2:hover {
    background-color: black;
    transition: 0.2s linear;
}

button a {
    font-size: 1vw;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* #343335 */

#leftp1 button {
    margin-top: 20px;
    margin-right: 20px;
    width: 7vw;
    height: 3vw;
    border-radius: 30px;
    border: 1px solid black;
    cursor: pointer;
}

#rightp1 {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 25%;
}

#img {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    overflow: hidden;
}

#img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}


/* ================================ */


/* PAGE2 STYLE */

#page2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#leftp2 {
    width: 30%;
    height: 100%;
    /* background-color: red; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imgp2 {
    width: 26vw;
    height: 70vh;
}

#imgp2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: sticky;
    top: 16%;
    box-shadow: 10px 10px 20px black;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#rightp2 {
    width: 30%;
    height: 100%;
    /* background-color: yellow; */
    /* display: flex;
    flex-direction: column; */
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 50px;
}

.contentr2 h1 {
    font-size: 4vw;
}

.contentr2 h2 {
    font-size: 2.5vw;
    color: rgba(0, 0, 0, 0.707);
}

.contentr2 p {
    margin-top: 50px;
    font-size: 1vw;
    line-height: 25px;
}

.span1st {
    color: white;
    background: #343335;
    text-transform: uppercase;
}

.icon {
    font-size: 2vw;
}

#icon1 {
    color: yellow;
}

#icon2 {
    color: red;
}

#icon3 {
    color: blue;
}


/*============================================*/

#menubar {
    width: 100vw;
    height: 0;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 15;
    transition: 0.4s linear;
}


/*PAGE3 STYLE*/

#page3 {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#topp3 {
    width: 100%;
    height: 20%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: end;
}

#topp3 h1 {
    color: black;
    font-size: 4.5vw;
}

#bottomp3 {
    width: 100%;
    height: 80%;
    /* background-color: blue; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#leftp3 {
    width: 30%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 3vw;
}

#leftp3 p {
    padding: 3vw 0px;
    font-size: 1vw;
    width: 80%;
}

#leftp3 h2 {
    font-size: 1vw;
}

#rightp3 {
    width: 30%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#rightp3 form input,
form textarea {
    border: 2px solid black;
    outline: none;
    width: 25vw;
    padding: 1vw;
    margin-bottom: 1vw;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-size: 1vw;
}

#rightp3 form textarea {
    resize: none;
}

#btn:hover {
    color: white;
    background-color: #343335;
    transition: 0.3s ease;
    cursor: pointer;
}


/* =============================== */


/* page4 design style sheet */

#page4 {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.boxp4 {
    width: 60%;
    height: 25%;
    /* background-color: blue;
    border: 1px solid black; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#box1p4 {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-top: 40px;
}

#box1p4 h1 {
    font-size: 4.5vw;
    color: black;
}

.leftp4 {
    height: 80%;
    width: 20%;
    position: relative;
    overflow: hidden;
    /* background-color: red; */
}

#box2p4 .leftp4 {
    border-left: 1px solid #343335;
}

#box2p4 .leftp4 img {
    position: absolute;
    height: 100%;
    width: 95%;
    object-fit: cover;
    border-radius: 10px;
    left: -100%;
}

#box4p4 .leftp4 {
    border-left: 1px solid #343335;
}

#box4p4 .leftp4 img {
    position: absolute;
    height: 100%;
    width: 95%;
    object-fit: cover;
    border-radius: 10px;
    left: -100%;
}

#box3p4 .leftp4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#box3p4 .leftp4 a {
    text-decoration: none;
}

#box3p4 .leftp4 i {
    font-size: 2vw;
    color: rgba(0, 0, 0, 0.707);
}

.centerp4 {
    height: 50%;
    width: 50%;
    /* background-color: red; */
    position: relative;
}

.centerp4 h1 {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
}

.rightp4 {
    height: 80%;
    width: 20%;
    /* background-color: red; */
    overflow: hidden;
}

#box2p4 .rightp4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#box2p4 .rightp4 a {
    text-decoration: none;
}

#box2p4 .rightp4 i {
    font-size: 2vw;
    color: rgba(0, 0, 0, 0.707);
}

#box3p4 .rightp4 {
    position: relative;
    border-right: 1px solid #343335;
}

#box3p4 .rightp4 img {
    position: absolute;
    width: 95%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    right: -100%;
    border: 1px solid rgba(0, 0, 0, 0.707);
}

#box4p4 .rightp4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#box4p4 .rightp4 a {
    text-decoration: none;
}

#box4p4 .rightp4 i {
    font-size: 2vw;
    color: rgba(0, 0, 0, 0.707);
}

.boxp4 .leftp4:hover {
    scale: 1.1;
    transition: 0.2s ease;
}

.boxp4 .rightp4:hover {
    scale: 1.1;
    transition: 0.2s ease;
}


/* ========================================= */


/* PAGE5 STYLE SHEET */

#page5 {
    width: 100vw;
    height: 100vh;
    position: relative;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#headingp5 {
    margin-top: 60px;
    margin-bottom: 20px;
    width: 60%;
    height: 10%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#headingp5 h1 {
    font-size: 4.5vw;
    color: black;
}

#contentp5 {
    width: 60%;
    height: 80%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.boxp5 {
    width: 80%;
    height: 20%;
    /* background-color: red;
    border: 1px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.boxp5 h2 {
    position: absolute;
    opacity: 0;
    left: 101%;
    top: 55%;
}

.progressbar {
    margin-top: 10px;
    width: 0%;
    height: 5%;
    background-color: black;
    border-radius: 10px;
}

.progressbar::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 5%;
    background-color: rgba(0, 0, 0, 0.531);
    border-radius: 10px;
}


/* ================================================================================================= */


/* =======================Responsive design style sheet for mobile device======================= */

@media (max-width:600px) {
    /* responsive header */
    header {
        height: 50px;
        flex-direction: row-reverse;
        padding: 0px 5vw;
        top: 0;
    }
    #logo h1 {
        font-size: 3.5vw;
        font-weight: 900;
        font-family: pacifico;
        z-index: 20;
    }
    #logo a {
        text-decoration: none;
        color: black;
    }
    #anchor a {
        display: none;
    }
    #links a {
        display: none;
    }
    #menu {
        font-size: 6vw;
        color: black;
        display: block;
        cursor: pointer;
    }
    /* ========================= */
    /* responsive page1 */
    #page1 {
        width: 100vw;
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    #leftp1 {
        width: 100%;
        height: 50%;
        /* background-color: green; */
        padding: 0px 0px;
        justify-content: start;
    }
    #leftp1 h5 {
        font-size: 7vw;
        color: rgba(0, 0, 0, 0.707)
    }
    #leftp1 h1 {
        font-size: 10vw;
        margin-top: 30px;
        font-weight: bold;
    }
    #frame {
        margin-top: 25px;
        height: 8vw;
    }
    #leftp1 span {
        height: 8vw;
        font-size: 7vw;
        color: rgba(0, 0, 0, 0.707)
    }
    #btnp1 {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .b1 {
        background-color: white;
    }
    .b1 a {
        color: black;
        text-decoration: none;
    }
    .b1:hover {
        background-color: #343335;
        transition: 0.2s linear;
    }
    .b1:hover a {
        color: white;
    }
    .b2 {
        background-color: #343335;
    }
    .b2 a {
        color: white;
        text-decoration: none;
    }
    .b2:hover {
        background-color: black;
        transition: 0.2s linear;
    }
    button a {
        font-size: 3vw;
    }
    button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* #343335 */
    #leftp1 button {
        margin-top: 20px;
        margin-right: 10px;
        width: 30vw;
        height: 7vw;
        border-radius: 30px;
        border: 1px solid black;
        cursor: pointer;
    }
    #rightp1 {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0%;
    }
    #img {
        width: 70vw;
        height: 70vw;
        border-radius: 50%;
        overflow: hidden;
    }
}